body {
    display: flex;
    justify-content: center;
}

#frame {
    background-color: lightblue;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}

#screen {
    width: 500px;
    height: 100px;
    background-color: darkblue;
    color: white;
}

#screen[type="text"] {
    font-size:60px;
}

.button {
    width: 25px;
    height: 25px;
    background-color: orange;
    
}

#screen, #button-container, .button {    
    border-radius: 5px;
}